<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{snapped: userHasSnapped}">
<h2>{{faceSnap.title | titlecase}}</h2>
<a routerLink="/facesnaps">BACK</a>
@if (faceSnap.location) {
    <p>Localisation : {{faceSnap.location}}</p>
} @else {
    <p>Localisation non spésifiée</p>
}
<img [src]="faceSnap.imageUrl" alt="title">
<p>{{faceSnap.description}}</p>
<p>FaceSnap créée le {{faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm'}}</p>
<p>
    <button (click)="onSnap(faceSnap.id)">{{snapButtonText}}</button>
    <span [ngStyle]="{ color : 'rgb(0,'+ faceSnap.snaps +',0)'}">👌{{faceSnap.snaps}}</span>
</p>
</div>